<div class="mb-0 bg-gray-100 shadow-md p-3 py-8 px-4 md:px-16 flex flex-col md:flex-row justify-between mt-20 w-full text-sm md:text-normal">
  <div class="font-semibold flex flex-col md:flex-row">
    <span class="mr-8 hover:cursor-pointer" (click)="toggleModal('terms-of-use')">
      Terms of Use
    </span>
    <span class="mr-8 hover:cursor-pointer" (click)="toggleModal('about')">
      About
    </span>
    <span class="hover:cursor-pointer" (click)="toggleModal('user-agreement')">
      User Agreement
    </span>
  </div>

  <div class="mt-5 md:mt-0 flex justify-between">
    <span class="mr-8">ResourceHub &#xA9; 2025</span>
    <span>All Right Reserved</span>
  </div>
</div>

<app-about *ngIf="modals['about']" (toggleModal)="toggleModal('about')"></app-about>
<app-terms-of-use *ngIf="modals['terms-of-use']" (toggleModal)="toggleModal('terms-of-use')"></app-terms-of-use>
<app-user-agreement *ngIf="modals['user-agreement']" (toggleModal)="toggleModal('user-agreement')"></app-user-agreement>
