<div class="flex flex-col mt-6 mx-6 md:mx-14">
  <div class="border border-gray-600 p-3 flex flex-col rounded-lg">
    <span class="font-semibold text-normal md:text-xl">Welcome to Your Dashboard</span>
    <span class="text-sm md:text-normal">
      This page gives you access to your recently viewed and/or applied posts, scholarship programs you are approved in, and your part-time job.
    </span>
  </div>

  <div class="border border-gray-600 p-3 mt-5 flex flex-col rounded-lg">
    <div class="flex justify-between font-semibold text-normal md:text-xl">
      <span>Saved Scholarship Posts</span>
      <!-- <div class="flex justify-end text-sm">
        <button class="chevron-border mr-1">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="chevron-border ">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div> -->
    </div>
    <app-recent-scholarhip></app-recent-scholarhip>
    <!-- <div *ngIf="recentPost.length === 0" >
      <app-no-recent></app-no-recent>
    </div> -->
  </div>

  <div class="border border-gray-600 p-3 mt-5 flex flex-col rounded-lg">
    <div class="flex justify-between font-semibold text-normal md:text-xl">
      <span>Saved Part-time Posts</span>
      <!-- <div class="flex justify-end text-sm">
        <button class="chevron-border mr-1">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="chevron-border ">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div> -->
    </div>
    <app-recent-part-time></app-recent-part-time>
    <!-- <div *ngIf="recentPost.length === 0" >
      <app-no-recent></app-no-recent>
    </div> -->
  </div>
</div>
