@if(isLoading) {
  <div class="flex flex-col w-full py-10">
    <div class="flex justify-center text-blue-600">
      <fa-icon [icon]="faCircleNotch" animation="spin"></fa-icon>
    </div>
    <div class="flex justify-center">
      Loading list...
    </div>
  </div>
} @else {
  @if(recentPartTime.length > 0) {
    <div class="w-full flex justify-center">
      <table class="w-full table-auto rounded-md mt-4 text-xs md:text-base">
        <thead>
          <tr class="border-b border-gray-400">
            <th class="w-8/12">Position</th>
            <!-- <th>Company</th> -->
            <th class="w-2/12">Deadline</th>
            <th class="w-1/12">Applied</th>
            <th class="w-1/12">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of recentPartTime; let odd = odd; let i = index" (click)="toggleModal('post-details', item)" [ngClass]="{'bg-slate-50' : odd}" class="hover:bg-sky-200 hover:cursor-pointer">
            <td>{{ item.posting.title }}</td>
            <!-- <td>{{ item.sponsor + '-' + i+1 }} </td> -->
            <td>{{ item.posting.date_end | date: 'MMM dd, yyyy' }}</td>
            <td>
              <fa-icon [icon]="faCheckCircle" class="text-green-500" *ngIf="item.is_applied"></fa-icon>
            </td>
            <td>
              <fa-icon [icon]="faCheckCircle" class="text-green-500" *ngIf="item?.is_approved === 1"></fa-icon>
              <fa-icon [icon]="faCircleXmark" class="text-red-500" *ngIf="item?.is_approved === 0"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-post-details *ngIf="modals['post-details']"
      (toggleModal)="toggleModal('post-details')"
      [selected_posting]="selected_posting"
    ></app-post-details>
  } @else {
    <app-no-recent></app-no-recent>
  }
}
