<div class="bg-gray-100 p-5 min-h-screen">
  <div class="flex justify-between mb-3">
    <div class="font-semibold text-lg text-blue-600">
      User Profile
    </div>
    <div class="flex justify-end text-sm">
      <button class="btn-blue bg-orange-500" (click)="toggleEditForm()">

        <fa-icon [icon]="faEdit" class="text-white"></fa-icon>
        Update
      </button>
    </div>
  </div>

  <div *ngIf="!showUpdateForm">
    <app-user-information *ngIf="show_form" [selected_user]="selected_user"></app-user-information>
  </div>

  <div *ngIf="showUpdateForm">
    <div>
      <fieldset class="rounded-md border border-gray-400 bg-white" >
        <legend class="ml-5 px-3">Educational Background</legend>
        <form [formGroup]="educationForm" class="flex p-3 mx-4 border-b-2 border-gray-200">
          <div class="grid grid-cols-5 gap-x-4">
            <div>
              <label>Name of School</label>
              <input formControlName="school_name" type="text" class="input-txt" />
            </div>
            <div>
              <label>Education Level</label>
              <select formControlName="lib_education_level_id" class="input-txt">
                <option [ngValue]="null">-</option>
                <option *ngFor="let item of education_levels" [value]="item.id">{{ item.desc }}</option>
              </select>
            </div>
            <div>
              <label>Program (optional)</label>
              <select formControlName="lib_academic_program_id" class="input-txt">
                <option [ngValue]="null">-</option>
                <option *ngFor="let item of academic_programs" [value]="item.id">{{ item.desc }}</option>
              </select>
            </div>
            <div>
              <label>Year Attended (Start)</label>
              <input formControlName="start_year" type="number" class="input-txt" id="year" name="year" min="1900" max="2100" placeholder="YYYY">
            </div>
            <div>
              <label>Year Attended (End)</label>
              <input formControlName="end_year" type="number" class="input-txt" id="year" name="year" min="1900" max="2100" placeholder="YYYY">
            </div>
          </div>
          <div class="ml-3 mt-6">
            <button [disabled]="!educationForm.valid || isFormSaving['user-education']" (click)="onSubmit('user-education', educationForm, 'educationList', 'educationForm')" class="btn-blue-nr w-20 text-sm py-1.5">
              <fa-icon *ngIf="!isFormSaving['user-education'] && !educationForm.value.id" [icon]="faAdd"></fa-icon>
              <fa-icon *ngIf="isFormSaving['user-education']" [icon]="faCircleNotch" animation="spin"></fa-icon>
              {{ educationForm.value.id ? 'Update' : 'Add'}}
            </button>
          </div>
        </form>

        <div class="w-full p-4">
          <table class="table-auto border border-gray-400 w-full bg-white select-none">
            <thead>
              <tr>
                <th>Name of school</th>
                <th>Education Level</th>
                <th>Year Attended</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of educationList" class="hover:bg-blue-50">
                <td>{{ item.school_name }}</td>
                <td>{{ item.educationLevel.desc }}</td>
                <td>{{ item.start_year }} to {{ item.end_year}}</td>
                <td>
                  <button (click)="loadSelected(educationForm, item)">
                    <fa-icon [icon]="faEdit" class="text-orange-500"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="isFormSaving['education_levels']">
            test
          </div>
        </div>

      </fieldset>
    </div>
  </div>
</div>
