<div class="flex flex-col  w-full min-h-full">
  <button class="text-orange-500">
    <fa-icon [icon]="faEdit"></fa-icon>
    Edit
  </button>

  <div class="mx-5 mb-5">
    <fieldset class="border border-gray-300 shadow-md mb-5">
      <legend class="px-2 ml-2">
        User Information
      </legend>
      <div class="flex justify-between m-3">
        <div class="w-1/2 flex flex-col">
          <span>test</span>
          <span>test</span>
          <span>test</span>
        </div>
        <div class="w-1/2 flex flex-col">
          <span>test</span>
          <span>test</span>
          <span>test</span>
        </div>
      </div>
    </fieldset>

    <fieldset class="border border-gray-300 shadow-md">
      <legend class="px-2 ml-2">
        <!-- <button class="text-orange-500">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button> -->
        Educational Background & Work Experiences
      </legend>
      <div class="flex justify-between m-3">
        <div class="w-1/2 flex flex-col">
          <div class="w-full text-center font-semibold">Educational Background</div>
          <div class="flex justify-center">
            <div class="w-1/2 flex flex-col text-right mr-2">
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
            </div>
            <div class="w-1/2 flex flex-col">
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
            </div>
          </div>
        </div>
        <div class="w-1/2 flex flex-col">
          <div class="w-full text-center font-semibold">Work Experiences</div>
          <div class="flex justify-center">
            <div class="w-1/2 flex flex-col text-right mr-2">
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
            </div>
            <div class="w-1/2 flex flex-col">
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
              <span>test</span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

  </div>
</div>
