<div class="bg-gray-200 flex justify-center h-full">
  <form [formGroup]="resetForm" *ngIf="!success_change" class="flex flex-col bg-white w-2/5 mt-10 rounded-lg h-fit p-5 px-10">
    <div class="flex justify-center mb-10">
      <span class="text-xl font-semibold">Change Password</span>
    </div>
    <!-- <form [formGroup]="resetForm"> -->
      <div>
        <label>Password</label>
        <div class="flex">
          <input [type]="showPassTxt ? 'text' : 'password'" formControlName="password" class="input-txt border-r-0 rounded-r-none" />
          <button (click)="togglePassInput()" class="input-txt w-12 rounded-l-none border-l-0">
            <fa-icon [icon]="showPassTxt ? faEyeSlash : faEye" ></fa-icon>
          </button>
        </div>

        <div>
          <ul class="list-disc ml-5 text-sm italic">
            <li>Password should have atleast 6 characters</li>
            <li>Password should contain atleast 1 special character</li>
            <li>Password should contain atleast 1 numeric value</li>
            <li>Password should contain atleast 1 capital letter</li>
          </ul>
        </div>

        <div class="mt-3">
          <label>Confirm Password</label>
          <input [type]="showPassTxt ? 'text' : 'password'" formControlName="password_confirmation" class="input-txt" />
        </div>

        <div *ngIf="resetForm.value.password !== resetForm.value.password_confirmation" class="text-red-500 italic text-sm">
          Password Mismatch
        </div>

        <div class="text-red-500 italic text-sm">
          {{ error_message }}
        </div>
      </div>
    <!-- </form> -->

    <div class="flex justify-end mt-5">
      <button [disabled]="is_saving || !resetForm.valid || (resetForm.value.password !== resetForm.value.password_confirmation)" (click)="onSubmit()" class="btn-blue-nr px-5">
        Change Password
      </button>
    </div>
  </form>

  <div *ngIf="success_change" class="flex flex-col justify-center text-center bg-white w-2/5 mt-10 rounded-lg h-fit p-5 px-10 py-10">
    <fa-icon [icon]="faCheckCircle" class="text-blue-500  text-2xl"></fa-icon>
    <span class="text-blue-500 font-semibold">Password change successfull</span>
    <span class="w-4/6 mx-auto mt-5 text-justify">
      Your password was successfully changed. You may now login using your new credentials.
    </span>
    <div class="mt-5">
      <a href="/" class="btn-blue-nr mt-5 px-5">
        Back to login
      </a>
    </div>
  </div>
</div>
