<div class="flex flex-col mt-5 mx-5 md:mx-20 min-h-screen">
  <div class="flex flex-col  md:flex-row justify-between">
    <div class="font-semibold text-2xl text-blue-600 block basis-1/2">Scholarship Programs</div>

    <div class="flex flex-row justify-between text-base w-full mt-3 md:mt-0">
      <div class="w-5/6 flex item-start">
        <div class="input-txt rounded-l-md rounded-r-none border-r-0 w-8 p-1 pl-2">
          <fa-icon [icon]="faSearch"></fa-icon>
        </div>
        <input type="text" class="input-txt  rounded-l-none placeholder:italic rounded-md rounded-l-none border-l-0" placeholder="Search scholarhip"/>
      </div>

      <div class="w-1/6 flex item-start ">
        <button (click)="loadPartTime()" class="px-3 btn-blue-nr ml-3">
          <fa-icon [icon]="faFilter"></fa-icon>
          <span class="hidden md:inline md:pl-1">Filter</span>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row h-screen mt-5">
    <div class="flex flex-col md:w-1/2 h-3/4 shadow-md block overflow-y-auto mr-5 ">
      <div *ngFor="let item of partTimeList" class="flex flex-col m-3 p-5 border border-gray-300 shadow-md rounded-lg">
        <span class="text-gray-500">{{ item.date_posted }}</span>
        <span class="text-xl font-semibold">{{ item.title }}</span>
        <span class="text-gray-500">{{ item.job_status }}</span>
      </div>
    </div>


    <div class="flex flex-col md:w-1/2 h-3/4 shadow-md block overflow-y-auto mr-5 mt-5 md:mt-0">
      <google-map [style]="{height: 'fit-content'}" class="w-fit" [options]="options"> </google-map>
    </div>
  </div>

</div>
