<div class="flex flex-col min-h-screen">
  <span class="font-bold text-xl text-blue-600 mb-3">
    <button (click)="closeComponent()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      POST
    </button>
  </span>

  <form [formGroup]="postingForm">
    <div class="flex flex-col">
      <div class="flex flex-row w-full bg-white">
        <div class="w-full p-3 grid grid-cols-4 gap-x-5">
          <div class="col-span-2">
            <label class="font-semibold w-36 mt-1">Title</label>
            <input type="text" class="input-txt" formControlName="title">
          </div>

          <div>
            <label class="font-semibold">Post Type</label>
            <select class="input-txt" (change)="updateValidators()" formControlName="lib_posting_category_id">
              <option [value]="1">Part-time Jobs</option>
              <option [value]="2">Scholarship</option>
            </select>
          </div>

          <div>
            <label class="font-semibold">Slots</label>
            <input type="number" class="input-txt" formControlName="slot">
          </div>

          <div>
            <label class="font-semibold">Deadline date</label>
            <input type="date" [min]="min_date" class="input-txt" formControlName="date_end">
          </div>

          <div>
            <label class="font-semibold">Municipality</label>
            <select class="input-txt" (change)="loadDemog()" [(ngModel)]="municipality" [ngModelOptions]="{standalone:true}">
              <option *ngFor="let item of municipalities" [value]="item.code" >{{ item.name }}</option>
            </select>
          </div>

          <div>
            <label class="font-semibold">Barangay</label>
            <select class="input-txt" formControlName="barangay_code">
              <option *ngFor="let item of barangays" [value]="item.code" >{{ item.name }}</option>
            </select>
          </div>
          <div>
            <label class="font-semibold">Address</label>
            <input type="text" class="input-txt" formControlName="address" />
          </div>
          <div *ngIf="postingForm.value.lib_posting_category_id === '1'" class="flex justify-center mt-5 col-span-4">
            <button class="btn-blue-nr px-3" (click)="toggleMap()">
              <fa-icon [icon]="faLocationDot" class="pr-2"></fa-icon>
              {{ this.postingForm.value.id ? 'Update' : 'Tag' }} location
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showGoogleMap" class="flex flex-col">
      <div class="flex justify-center">
        <google-map width="700px" class="w-fit" [options]="options"
          (mapClick)="addMarker($event)">
          @for (position of markerPositions; track position) {
            <map-marker [position]="position" [options]="markerOptions" />
          }
        </google-map>
      </div>

      <div class="flex flex-col justify-center mt-3">
        <div class="flex justify-center italic">
          {{ markerPositions[0] ? (markerPositions[0].lat+', '+markerPositions[0].lng) : ''}}
        </div>
        <div class="flex justify-center">
          <button [disabled]="!markerPositions[0]" class="bg-blue-600 px-5 py-2 rounded-md text-white text-sm disabled:bg-gray-400" (click)="saveLongLat()">
            Save Location
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="geoLocation || postingForm.value.lib_posting_category_id === '2'" class="flex flex-col bg-white py-3 px-8 mt-3">
      <div class="grid grid-cols-4 gap-x-4 my-3">
        <div *ngFor="let item of requirementList">
          <input attr.id="{{item.var_name}}" [formControlName]="item.var_name" type="checkbox" class="rounded-md mr-1 text-lg" />
          <label attr.for="{{item.var_name}}">{{ item.label }}</label>
        </div>
      </div>
      <div class="flex justify-between">
        <div class="text-left flex flex-col">
          <span class="font-semibold">Text Details</span>
          <span class="text-sm">Add details for the posting</span>
        </div>
        <div class="flex justify-end italic text-xs">
          Coordinates: {{ geoLocation ? (geoLocation.lat+', '+geoLocation.lng) : ''}}
        </div>
      </div>

      <div class="flex flex-col mt-5">
        <span class="font-semibold text-sm">Content</span>
        <div class="w-full">
          <quill-editor class="h-96 w-full rounded" formControlName="description" [modules]="editorConfig"></quill-editor>
        </div>
      </div>

      <div class="flex justify-end my-3">
        @if(!postingForm.value.id || (postingForm.value.id && !postingForm.value.date_published)) {
          <button *ngIf="postingForm.value.id" class="disabled:bg-gray-400 bg-rose-500 text-white px-8 py-2 font-semibold rounded-full mr-2" (click)="toggleMyModal('delete-item')">
            <fa-icon *ngIf="!isSaving" [icon]="faSave"></fa-icon>
            <fa-icon *ngIf="isSaving" [icon]="faCircleNotch" animation="spin"></fa-icon>
            Delete
          </button>
          <button [disabled]="!postingForm.valid" class="disabled:bg-gray-400 bg-orange-400 text-white px-8 py-2 font-semibold rounded-full mr-2" (click)="onSubmit()">
            <fa-icon *ngIf="!isSaving" [icon]="faSave"></fa-icon>
            <fa-icon *ngIf="isSaving" [icon]="faCircleNotch" animation="spin"></fa-icon>
            Save
          </button>
        }

        @if(!postingForm.value.id || (postingForm.value.id && !postingForm.value.date_published)) {
          <button [disabled]="!postingForm.valid" class="disabled:bg-gray-400 bg-blue-600 text-white px-8 py-2 font-semibold rounded-full" (click)="onSubmit(true)">
            <fa-icon *ngIf="!isSaving" [icon]="faUpload"></fa-icon>
            <fa-icon *ngIf="isSaving" [icon]="faCircleNotch" animation="spin"></fa-icon>
            Publish
          </button>
        }
      </div>
    </div>
  </form>
</div>

<app-delete-item *ngIf="modals['delete-item']"
  (toggleModal)="toggleMyModal($event)"
  [url]="'posting-information/'"
  [delete_id]="postingForm.value.id"
  [delete_desc]="'Posting Item'"
></app-delete-item>
