<div class="w-full flex justify-between shadow-md">
  <div class="my-3 ml-10">
    <img class="h-11" src="../assets/img/resourcehub-log.png" />
  </div>
  <div class="mt-5 mb-3 mr-10">
    <button class="mr-2 text-blue-600 font-semibold">LOGIN</button>
    <button class="btn-blue">SIGN UP</button>
  </div>
</div>

<div class="flex flex-col">
  <div class="relative">
    <div class="absolute top-0" >
      <img src="../assets/img/landing-page.png">
    </div>

    <div class="absolute top-0 w-full bg-blue-600 h-[632px] opacity-60 landing-image"></div>

    <div class="w-full absolute top-0 mt-60 flex flex-col justify-center text-white text-lg">
      <div class="flex justify-center w-full text-xl">WELCOME TO FINANCIAL RESOURCE HUB</div>
      <div class="flex justify-center w-full text-6xl text-center font-bold">EMPOWERING STUDENTS <br />FINANCIALLY</div>
    </div>
  </div>
</div>


<div class="relative top-[632px] flex justify-between mt-5">
  <div></div>
  <div class="flex justify-between">
    <button class="btn-blue mr-64">FIND SCHOLARSHIP</button>
    <button class="btn-blue">FIND PART-TIME JOBS</button>
  </div>
  <div></div>
</div>

<div class="relative top-[632px] flex flex-col mt-5 mx-20">
  <span>
    Recognizing the challenges faced by college students in locating both scholarships and part-time job
    opportunities in one place, this research will delve into the development and implementation of an
    innovative online web application designed at consolidating students' access to financial aid possibilities.
    This integrated system offers students a streamlined approach to financial aid and employment opportunities,
    combining a scholarship application system with a part-time job search function, enhanced by geolocation features.
    By providing a comprehensive resource, the web application aims to simplify access to financial aid, reduce application barriers,
    and connect students with part-time job opportunities in their vicinity, thereby supporting their educational and financial stability. 
  </span><br />

  <span>
    By facilitating access to scholarships and part-time job opportunities, the web application contributes to students' financial
    stability and fosters their active involvement in their studies. This integration enhances the visibility of scholarships,
    streamline applications, and offer students a comprehensive resource for financial aid and job opportunities.
  </span><br />

  <span>
    For <span class="text-blue-600 font-semibold">College Students</span>, using the web application offers several benefits. First, it can save time searching for financial aid
    and employment opportunities. The system simplifies the scholarship application process and connects students with part-time
    jobs, eliminating the need to visit and track opportunities across multiple websites. The app allows students to search for
    scholarships and part-time job openings based on various criteria, including managing their applications, and receiving updates.
    Additionally, the geolocation feature helps identify opportunities near location, ensuring a good school-work balance.
  </span><br />

  <span>
    For the <span class="text-blue-600 font-semibold">Local Government Unit</span>, the web application allows them to connect with a much larger number of college students,
    increasing their reach and making it easier to find the best candidates
  </span><br />

  <span>
    The relevance of the website is underscored by the increasing reliance on digital platforms for accessing information and
    services. With college students being a tech-savvy demographic, offering them a unified whole for scholarship and
    job searches that aligns with their preferences for convenience and efficiency.
  </span><br />
</div>
