<div class="flex flex-col w-full px-5 overflow-y-auto">
  <!-- <div class="bg-white flex justify-between p-3">
    <div>
      <span class="text-2xl text-blue-600 font-bold">DASHBOARD</span> <br />
      <span>Listing of Posting</span>
    </div>
  </div> -->

  <div class="flex flex-col min-h-screen">
    <div class="flex justify-between">
      <div class="my-3 flex flex-col">
        <span class="font-bold text-2xl text-blue-600">
          Posting | Communicate
        </span>
        <span class="text-sm">
          Manage Posts and Send Messages
        </span>
      </div>

      <div *ngIf="!modals['show-email'] && !modals['show-applicants'] && !modals['show-posting']">
        <button class="btn-blue-nr my-3 px-2" (click)="toggleModal('show-posting')">
          <fa-icon [icon]="faPenToSquare"></fa-icon>
          Create Post
        </button>
      </div>
    </div>

    <div *ngIf="!modals['show-sms'] && !modals['show-email'] && !modals['show-applicants'] && !modals['show-posting']" class="bg-white w-full">
      <div class="bg-white w-full">
        <div class="flex justify-end bg-gray-200 m-3  py-2 text-xs">
          <!-- <span class="font-semibold pt-1  mr-1">Filter:</span> -->
          <div class="flex flex-row">
            <label class="pt-2 mr-2">Category</label>
            <select [(ngModel)]="category" class="input-txt w-40">
              <option [ngValue]="null">All</option>
              <option *ngFor="let item of categoryList" [value]="item.id">{{ item.title }}</option>
            </select>
          </div>

          <div class="flex flex-row">
            <label class="pt-2 mr-2">Published</label>
            <select [(ngModel)]="is_published" class="input-txt w-40">
              <option [ngValue]="null">All</option>
              <option *ngFor="let item of publishedList" [value]="item.id">{{ item.title }}</option>
            </select>
          </div>

          <div class="flex flex-row">
            <label class="pt-2 mx-2">Date</label>
            <input type="date" [max]="max_date" [(ngModel)]="start_date" class="input-txt w-40">
          </div>

          <div class="flex flex-row">
            <label class="pt-2 mx-2">to</label>
            <input type="date" [max]="max_date" [(ngModel)]="end_date" class="input-txt w-40">
          </div>

          <div>
            <button (click)="loadList()" class="mt-1 bg-blue-600 rounded-md px-2 text-white mx-2 hover:opacity-75 py-1">
              <fa-icon [icon]="faFilter"></fa-icon>
              <span class="text-sm ml-1">Apply</span>
            </button>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-full bg-white p-3">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="w-4/12">Title</th>
              <th class="w-2/12">
                Date Published <br />
                Deadline date
              </th>
              <th class="w-2/12">Slots</th>
              <th class="w-3/12">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of postList; let i = index; let odd = odd"  class="hover:bg-sky-100 select-none">
              <td (click)="toggleModal('show-posting', item)" class="flex flex-row hover:cursor-pointer">
                <div class="mt-2 mr-3 name-icon-nr hover:opacity-75">
                  <span class="font-medium text-gray-900 text-sm xl:text-lg select-none">MS</span>
                </div>
                <div>
                  <span class="text-lg font-semibold">{{ item.title }} </span> <br />
                  <span class="text-sm text-gray-500">{{ item.lib_posting_category_id === 1 ? 'Part-time job' : 'Scholarship' }}</span>
                </div>
              </td>
              <td class="text-center text-sm">
                {{ item.date_published ? (item.date_published | date: 'MMM dd, yyyy') : '-' }} <br />
                {{ item.date_end | date: 'MMM dd, yyyy' }}
              </td>
              <td class="text-center text-sm">{{ item.applicants.length }}/{{ item.slot }}</td>

              <td class="text-center text-xs">
                @if(item.applicants.length > 0) {
                  <button (click)="toggleModal('show-sms', item)" class="px-3 py-1 rounded-md bg-gray-300 mr-2 hover:opacity-75">
                    SMS
                  </button>
                  <button (click)="toggleModal('show-email', item)" class="px-3 py-1 rounded-md bg-gray-300 mr-2 hover:opacity-75">
                    Email
                  </button>
                  <button (click)="toggleModal('show-applicants', item)" class="px-3 py-1 rounded-md bg-blue-300 hover:opacity-75">
                    Applicant list
                  </button>
                } @else {
                  <span class="italic">{{ !item.date_published ? 'Unpublished' : 'No applicants' }}</span>
                }
              </td>
            </tr>

            <tr *ngIf="postList.length === 0">
              <td colspan="4" class="text-center italic">
                No records found...
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="isLoading" class="flex flex-col w-full my-20">
          <div class="flex justify-center text-blue-500">
            <fa-icon [icon]="faCircleNotch" animation="spin"></fa-icon>
          </div>
          <div class="flex justify-center">
            Loadin list...
          </div>
        </div>
      </div>

      <app-page-controller (movePage)="loadList($event)" *ngIf="postList.length > 0" [meta]="meta"></app-page-controller>
    </div>

    <div *ngIf="modals['show-email']" class="flex flex-col mt-5 min-h-screen">
      <span class="font-bold text-xl text-blue-600">
        <button (click)="toggleModal('show-email')">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        Email Bulk Messaging
      </span>

      <div class="flex flex-col">
        <div class="flex flex-row w-full bg-white">
          <div class="w-8/12 p-3 flex flex-col">
            <span class="font-semibold">CHED-Tulong Dunong Program</span>
            <span class="text-gray-400 text-sm">Scholarship</span>
          </div>

          <div class="w-4/12 p-3 flex flex-col text-right">
            <span class="font-semibold">Email Message will be sent to</span>
            <span>Applicants</span>
          </div>
        </div>
      </div>

      <div class="flex flex-col bg-white py-3 px-8 mt-3">
        <div class="text-left flex flex-col">
          <span class="font-semibold">Message Details</span>
          <span class="text-sm">Add texts and information for the content</span>
        </div>

        <div class="flex flex-col mt-5">
          <span class="font-semibold text-sm">Content</span>
          <div class="w-full">
            <quill-editor class="h-96 w-full rounded" [(ngModel)]="submittedContent" [modules]="editorConfig"></quill-editor>
          </div>
        </div>

        <div class="flex justify-end my-3">
          <button class="bg-blue-600 text-white px-8 py-2 font-semibold rounded-full" (click)="sendMessage()">
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            SEND
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="modals['show-sms']" class="flex flex-col mt-5 min-h-screen">
      <span class="font-bold text-xl text-blue-600">
        <button (click)="toggleModal('show-sms')">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        SMS Bulk Messaging
      </span>

      <div class="flex flex-col">
        <div class="flex flex-row w-full bg-white">
          <div class="w-8/12 p-3 flex flex-col">
            <span class="font-semibold">CHED-Tulong Dunong Program</span>
            <span class="text-gray-400 text-sm">Scholarship</span>
          </div>

          <div class="w-4/12 p-3 flex flex-col text-right">
            <span class="font-semibold">Text Message will be sent to</span>
            <span>Applicants</span>
          </div>
        </div>
      </div>

      <div class="flex flex-col bg-white py-3 px-8 mt-3">
        <div class="flex justify-between text-left">
          <div class="flex flex-col">
            <span class="font-semibold">Text Message Details</span>
            <span class="text-sm">Add texts and information for the content</span>
          </div>
          <div>
            @if( job_sent ) {
              <span class="bg-green-500 text-white rounded-full px-2 py-1 text-xs">
                SMS Sending Queued
              </span>
            }
          </div>

        </div>

        <div class="flex flex-col mt-5">
          <span class="font-semibold text-sm">Content</span>
          <div class="w-full">
            <textarea class="input-txt" rows="4" [(ngModel)]="sms_message"></textarea>
          </div>
          <div class="flex justify-end">
            {{ sms_message ? sms_message.length : 0 }}/{{ sms_message ? getSegmentCount(sms_message.length) : 1 }}
          </div>
        </div>

        <div class="flex justify-end my-3">
          <button [disabled]="is_saving" *ngIf="!message_template?.message" class="bg-blue-600 text-white px-8 py-2 font-semibold rounded-full disabled:bg-gray-300" (click)="saveTemplate()">
            <fa-icon *ngIf="is_saving" [icon]="faCircleNotch" animation="spin" class="mr-2"></fa-icon>
            <fa-icon *ngIf="!is_saving" [icon]="faSave"></fa-icon>
            Save Template
          </button>

          <button [disabled]="is_saving || (message_template?.message === sms_message)" *ngIf="message_template?.message" class="bg-orange-600 text-white px-8 py-2 font-semibold rounded-full mr-3 disabled:bg-gray-300" (click)="saveTemplate()">
            <fa-icon *ngIf="is_saving" [icon]="faCircleNotch" animation="spin" class="mr-2"></fa-icon>
            <fa-icon *ngIf="!is_saving" [icon]="faSave"></fa-icon>
            Update Template
          </button>

          <button [disabled]="is_saving || (message_template?.message !== sms_message)" *ngIf="message_template?.message" class="bg-blue-600 text-white px-8 py-2 font-semibold rounded-full disabled:bg-gray-300" (click)="sendMessage()">
            <fa-icon *ngIf="is_saving" [icon]="faCircleNotch" animation="spin" class="mr-2"></fa-icon>
            <fa-icon *ngIf="!is_saving" [icon]="faPaperPlane"></fa-icon>
            Send SMS
          </button>
        </div>
      </div>
    </div>

    <app-applicant-list *ngIf="modals['show-applicants']"
      (toggleModal)="toggleModal('show-applicants')"
      [selected_posting]="selected_posting"
    ></app-applicant-list>

    <app-posting-page *ngIf="modals['show-posting']"
      (toggleModal)="toggleModal('show-posting')"
      [selected_posting]="selected_posting"
    ></app-posting-page>
  </div>
</div>
