<div class="flex flex-col w-full px-5 overflow-y-auto">
  <!-- <div class="bg-white flex justify-between p-3">
    <div>
      <span class="text-2xl text-blue-600 font-bold">DASHBOARD</span> <br />
      <span>Listing of Posting</span>
    </div>
  </div> -->

  <div class="flex flex-col min-h-screen">
    <div class="flex justify-between">
      <div class="my-3 flex flex-col">
        <span class="font-bold text-2xl text-blue-600">
          Posting | Communicate
        </span>
        <span class="text-sm">
          Manage Posts and Send Messages
        </span>
      </div>

      <div *ngIf="!showMessaging && !showApplicants && !showPostingComponent">
        <button class="btn-blue-nr my-3 px-2" (click)="togglePosting()">
          <fa-icon [icon]="faPenToSquare"></fa-icon>
          Create Post
        </button>
      </div>
    </div>

    <div *ngIf="!showMessaging && !showApplicants && !showPostingComponent" class="bg-white w-full">
      <div class="bg-white w-full">
        <div class="flex justify-end bg-gray-200 m-3  py-2 text-xs">
          <!-- <span class="font-semibold pt-1  mr-1">Filter:</span> -->
          <div class="flex flex-row">
            <label class="pt-2 mr-2">Category</label>
            <select class="input-txt w-40">
              <option [value]="null">All</option>
              <option *ngFor="let item of categoryList" [value]="item.id">{{ item.title }}</option>
            </select>
          </div>

          <div class="flex flex-row">
            <label class="pt-2 mx-2">Start Date</label>
            <input type="date" class="input-txt w-40">
          </div>

          <div class="flex flex-row">
            <label class="pt-2 mx-2">End Date</label>
            <input type="date" class="input-txt w-40">
          </div>

          <div>
            <button class="mt-1 bg-blue-600 rounded-md px-2 text-white mx-2 hover:opacity-75 py-1">
              <fa-icon [icon]="faFilter"></fa-icon>
              <span class="text-sm ml-1">Filter</span>
            </button>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-full bg-white p-3">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="w-4/12">Title</th>
              <th class="w-3/12"></th>
              <th class="w-2/12">Date Published</th>
              <th class="w-2/12">Slots</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of postList; let i = index; let odd = odd"  class="hover:bg-sky-100 ">
              <td class="flex flex-row">
                <!-- <input type="checkbox" class="rounded p-2 m-4 w-5 h-5 border border-gray-400" /> -->
                <div class="mt-2 mr-3 name-icon-nr hover:opacity-75">
                  <span class="font-medium text-gray-900 text-sm xl:text-lg select-none hover:cursor-pointer">MS</span>
                </div>
                <div>
                  <span class="text-lg font-semibold">{{ item.title + ' ' + i }} </span> <br />
                  <span class="text-sm text-gray-500">{{ item.item_type }}</span>
                </div>
              </td>
              <td class="text-end text-xs">
                <button (click)="toggleMessaging()" class="px-3 py-1 rounded-md bg-gray-300 mr-2 hover:opacity-75">
                  SMS
                </button>
                <button (click)="toggleMessaging()" class="px-3 py-1 rounded-md bg-gray-300 mr-2 hover:opacity-75">
                  Email
                </button>
                <button (click)="toggleApplicants()" class="px-3 py-1 rounded-md bg-blue-300 hover:opacity-75">
                  Applicant list
                </button>
                <!-- <button class="bg-white border-2 border-blue-300 px-3 rounded-lg">
                  <fa-icon [icon]="faEllipsis" class="hover:cursor-pointer"></fa-icon>
                </button> -->
              </td>
              <td class="text-center">{{ item.date_published }}</td>
              <td class="text-center">{{ item.filled_slots }}/{{ item.total_slots }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="showMessaging" class="flex flex-col mt-5 min-h-screen">
      <span class="font-bold text-xl text-blue-600">
        <button (click)="toggleMessaging()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        SMS Bulk Messaging
      </span>

      <div class="flex flex-col">
        <div class="flex flex-row w-full bg-white">
          <div class="w-8/12 p-3 flex flex-col">
            <span class="font-semibold">CHED-Tulong Dunong Program</span>
            <span class="text-gray-400 text-sm">Scholarship</span>
          </div>

          <div class="w-4/12 p-3 flex flex-col text-right">
            <span class="font-semibold">Text Message will be sent to</span>
            <span>500 Applicants</span>
          </div>
        </div>
      </div>

      <div class="flex flex-col bg-white py-3 px-8 mt-3">
        <div class="text-left flex flex-col">
          <span class="font-semibold">Text Details</span>
          <span class="text-sm text-sm">Add texts and information for the content</span>
        </div>

        <div class="flex flex-col mt-5">
          <span class="font-semibold text-sm">Content</span>
          <div class="w-full">
            <!-- (onFocus)="focus($event)" (onNativeFocus)="nativeFocus($event)" (onEditorChanged)="changedEditor($event)" (onBlur)="blur($event)" (onNativeBlur)="nativeBlur($event)" (onEditorCreated)="created($event)" -->
            <quill-editor class="h-96 w-full rounded" [(ngModel)]="submittedContent" [modules]="editorConfig"></quill-editor>
          </div>
        </div>

        <div class="flex justify-end my-3">
          <button class="bg-blue-600 text-white px-8 py-2 rounded-md font-semibold rounded-full" (click)="onSubmit()">
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            SEND
          </button>
        </div>
      </div>


      <!-- <div class="bg-white w-full">
        <div class="flex flex-row justify-end bg-gray-200 m-3 rounded-md py-2">
          <div class="flex flex-row">
            <span class="text-sm pt-2 mr-2">Category</span>
            <select class="input-txt w-40">
              <option></option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>

          <div class="flex flex-row">
            <span class="text-sm pt-2 mx-2">Start Date</span>
            <select class="input-txt w-40">
              <option></option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>

          <div class="flex flex-row">
            <span class="text-sm pt-2 mx-2">End Date</span>
            <select class="input-txt w-40">
              <option></option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>

          <div>
            <button class="mt-1 bg-blue-600 rounded-md px-2 text-white mx-2">
              <fa-icon [icon]="faFilter"></fa-icon>
              <span class="text-sm">Apply</span>
            </button>
          </div>
        </div>
      </div> -->
    </div>

    <div *ngIf="showApplicants" class="flex flex-col w-full bg-white p-3">
      <span class="font-bold text-xl text-blue-600">
        <button (click)="toggleApplicants()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        Applicant List
      </span>
      <table class="table-auto">
        <thead>
          <tr>
            <th class="w-4/12">Name</th>
            <th class="w-3/12">Student Email</th>
            <th class="w-3/12">Contact #</th>
            <th class="w-3/12">School</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of applicantList; let i = index; let odd = odd" [ngClass]="{'bg-sky-50' : odd }" class="bg-sky-100 hover:bg-sky-300 hover:cursor-pointer">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.contact }}</td>
            <td>{{ item.school }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-posting-page *ngIf="showPostingComponent"
      (togglePosting)="togglePosting()"
    ></app-posting-page>
  </div>
</div>
