<div class="h-full bg-gray-100 fixed w-full h-modal md:h-full justify-center items-center flex flex-col" aria-modal="true" role="dialog" style="z-index:60">
  <div class="flex items-start py-3 px-5 w-full justify-center md:justify-between">
    <div>
      <img class="h-11" src="../assets/img/resourcehub-log.png" />
    </div>
    <!-- <h3 class="my-2 text-2xl mb-5">
        Empowering students financially!
    </h3>
    <div></div> -->
  </div>

  <div class="relative p-4 w-full max-w-xl h-auto">
    <div class="bg-white h-auto p-5 md:p-16 rounded-xl shadow-2xl">
      <div class="flex flex-col">
        <div class="flex justify-between text-blue-600 font-semibold">
          <div>
            Sign In
          </div>
          <a href="/#">
            x
          </a>
        </div>

        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col p-3 md:p-10">
          <div class="mb-5">
            <input type="text" class="input-txt" formControlName="email" placeholder="Enter your email"/>
            <app-error-label *ngIf="formSubmitted" [childForm]="loginForm" [childFormName]="'email'"></app-error-label>
          </div>
          <div>
            <input type="password" class="input-txt" formControlName="password" placeholder="Enter your Password"/>
            <app-error-label *ngIf="formSubmitted" [childForm]="loginForm" [childFormName]="'password'"></app-error-label>
          </div>
          <span class="hover:cursor-pointer text-blue-600 mt-1 text-xs text-right">Forgot password?</span>

          <div>
            <button type="submit" class="btn-blue w-full mt-5" [disabled]="isLoading">
              <fa-icon [icon]="faCircleNotch" animation="spin" *ngIf="isLoading"></fa-icon>
              {{ isLoading ? 'Logging in' : 'Login' }}
            </button>

            <div *ngIf="errors_message" class="error-label m-2" >
              {{ errors_message }}
            </div>
          </div>

          <span class="hover:cursor-pointer ml-3 mt-5 text-xs text-center">
            Dont have and account?
            <a class="text-blue-600 hover:cursor-pointer" href="#/signup">Register</a>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
