<div class="flex flex-col w-full px-5 overflow-y-auto">
  <!-- <div class="flex flex-col justify-center h-48 w-full text-white bg-gradient-to-r from-blue-600 via-blue-900 to-blue-600 rounded-b-2xl">
    <div class="text-center">
      WELCOME TO THE FINANCIAL RESOURCE HUB
    </div>
    <div class="text-center text-4xl font-semibold">
      EMPOWERING STUDENTS <br /> FINANCIALLY
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-5">
    <button class="btn-blue-nr w-full">
      <fa-icon [icon]="faPenToSquare"></fa-icon>
      Create Post
    </button>

    <button class="btn-blue-nr bg-white text-blue-600" >
      <fa-icon [icon]="faTableColumns"></fa-icon>
      Dashboard
    </button>
  </div> -->

  <div class="flex flex-col mt-5 min-h-screen">
    <div class="flex justify-between">
      <div>
        <span *ngIf="modals['user-information']" class="text-blue-600">
          <button (click)="toggleModal('user-information')">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </button>
        </span>
        <span class="font-semibold text-xl">
          User Accounts
        </span>
      </div>
    </div>
    <span class="text-sm">
      Listing of Users, List of User Reports, Delete User Accounts, Data Backups, Audit Trail
    </span>

    <div *ngIf="!modals['user-information'] && !modals['show-sms']" class="bg-white select-none">
      <div class="bg-white w-full">
        <div class="flex flex-row justify-end bg-gray-200 m-3 rounded-md py-2 text-xs">
          <!-- <span class="font-semibold pt-1  mr-1">Filter:</span> -->
          <div class="mr-3">
            <span class="pt-2 mr-1">Category</span>
            <select [(ngModel)]="is_verified" class="input-txt capitalize">
              <option [ngValue]="null">All</option>
              <option *ngFor="let item of category" [value]="item">{{ item }}</option>
            </select>
          </div>
          <div class="">
            <span class="pt-2 mr-1">Active Status</span>
            <select [(ngModel)]="active_status" class="input-txt capitalize">
              <option [ngValue]="null">All</option>
              <option *ngFor="let item of activeStatus" [value]="item">{{ item }}</option>
            </select>
          </div>

          <!-- <div class="flex flex-row">
            <span class="pt-2 mx-1">Sub-category</span>
            <select [(ngModel)]="lib_cat_id" class="input-txt">
            <option [ngValue]="null">All</option>
              <option *ngFor="let item of scholarPartTime" [value]="item.id">{{ item.title }}</option>
            </select>
          </div> -->

          <!-- <div class="flex flex-row">
            <span class="pt-2 mx-1">Date</span>
            <input type="date" [(ngModel)]="start_date" [max]="max_date" class="input-txt" />
          </div>
          <span class="pt-2 mx-1">to</span>
          <div class="flex flex-row">
            <span class="pt-2"></span>
            <input type="date" [(ngModel)]="end_date" [max]="max_date" class="input-txt" />
          </div> -->

          <div class="mt-2.5">
            <button (click)="loadList()" class="mt-1 bg-blue-600 rounded-md px-2 text-white mx-2 py-1">
              <fa-icon [icon]="faFilter" class="mr-1"></fa-icon>
              <span class="text-sm">Apply</span>
            </button>
          </div>
        </div>
      </div>

      <div class="flex flex-col w-full bg-white p-3 min-h-96">
        <table class="table-auto">
          <thead>
            <tr class=" text-sm">
              <th class="w-4/12">Name</th>
              <th class="w-4/12">Details</th>
              <th class="w-2/12">Status</th>
              <th class="w-1/12">Action</th>
              <th class="w-1/12 text-xs">Active Status</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading">
            <tr *ngFor="let item of userList; let i = index; let odd = odd" class="hover:bg-sky-50 text-sm" [ngClass]="{'bg-orange-100 hover:bg-orange-300' : item.user_verified === null, 'bg-red-200 hover:bg-red-300' : item.user_verified === 0}">
              <td class="">
                <button (click)="toggleModal('user-information', item)" class="rounded-md bg-blue-500 px-3 py-1 text-xs text-white hover:opacity-75">
                  <fa-icon [icon]="faArrowRight"></fa-icon>
                </button>
                {{ item.last_name }}, {{ item.first_name }} {{ item.middle_name }} {{ item.suffix_name !== 'NA' ? item.suffix_name : '' }}

              </td>
              <td class="text-left text-xs">
                {{ item.school.desc }} <br />
                <span class="italic">
                  {{ item.email }} <br />
                  {{ item.contact_number }} <br /> &nbsp;
                </span>
              </td>
              <td class="text-center">
                <span class="px-2 py-1 text-xs rounded-full text-white" [ngClass]="{ 'bg-orange-500' : !item.user_verified, 'bg-green-500' : item.user_verified === 1, 'bg-red-500' : item.user_verified === 0 }">
                  <fa-icon [icon]="!item.user_verified ? faClock : (item.user_verified === 1 ? faCircleCheck : faXmarkCircle)" class="mr-2"></fa-icon>
                  @if( item.user_verified === null) { Unverified }
                  @if( item.user_verified === 0) { Rejected }
                  @if( item.user_verified === 1) { Verified }
                </span>
              </td>
              <td class="text-center">
                <button (click)="toggleModal('show-sms', item)" class="rounded-md bg-gray-500 w-14 py-1 text-xs text-white hover:opacity-75">
                  SMS
                  <fa-icon [icon]="faPaperPlane" class="ml-1"></fa-icon>
                </button>
              </td>
              <td class="text-center">
                <label class="inline-flex relative items-center cursor-pointer">
                  <input [(ngModel)]="item.is_active" type="checkbox" class="sr-only peer" (click)="toggleActive(item)">
                  <div class="w-12 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300  rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[3px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600 disabled:opacity-7"></div>
                </label>
              </td>
            </tr>

            <tr *ngIf="userList.length === 0">
              <td colspan="4" class="text-center italic">No records found...</td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="isLoading" class="flex flex-col my-20 text-lg">
          <div class="flex justify-center text-center text-blue-500">
            <fa-icon [icon]="faCircleNotch" animation="spin"></fa-icon>
          </div>
          <div class="flex justify-center">
            Loading list...
          </div>
        </div>
      </div>

      <app-page-controller *ngIf="userList.length > 0" (movePage)="loadList($event)" [meta]="meta"></app-page-controller>
    </div>

    <div class="flex flex-col">
      @if( selected_user) {
        <div class="flex justify-end bg-white rounded-md -mb-3 p-3">
          <span class="px-3 py-1 rounded-full text-sm text-white select-none"
            [ngClass]="{
              'bg-orange-500' : selected_user.user_verified === null,
              'bg-green-500' : selected_user.user_verified === 1,
              'bg-red-500' : selected_user.user_verified === 0,
            }">
            <fa-icon [icon]="selected_user.user_verified === null ? faClock : ( selected_user.user_verified === 1 ? faCircleCheck : faXmarkCircle )"
            ></fa-icon>
            {{ selected_user.user_verified === null
              ? 'Pending'
              : ( selected_user.user_verified === 1
                  ? 'Verified'
                  : 'Rejected'
                )
            }}
          </span>
        </div>
      }

      <app-messaging-sms *ngIf="modals['show-sms']"
        [selected_user]="selected_user"
      ></app-messaging-sms>

      <app-user-information *ngIf="modals['user-information']"
        [selected_user]="selected_user"
      ></app-user-information>

      @if(modals['user-information'] && (updating_user || selected_user && selected_user.user_verified === null)) {
        <div class="flex justify-center bg-white rounded-md shadow-md my-3 py-3 px-3 -mt-3">
          <button [disabled]="updating_user" (click)="verifyUser(false)" class="btn-blue bg-red-500 mr-3 px-10">
            <fa-icon *ngIf="updating_user" [icon]="faCircleNotch" animation="spin"></fa-icon>
            Reject
          </button>
          <button [disabled]="updating_user" (click)="verifyUser(true)" class="btn-blue px-10">
            <fa-icon *ngIf="updating_user" [icon]="faCircleNotch" animation="spin"></fa-icon>
            Verify
          </button>
        </div>
      }
    </div>
  </div>
</div>
