<div class="flex flex-col mt-5 mx-5 md:mx-20 min-h-screen">
  <div class="font-bold text-2xl text-blue-600">
    Scholarship Programs
  </div>

  <div class="flex flex-row justify-between mt-3 mr-3">
    <div class="w-5/6 flex item-start">
      <div class="input-txt rounded-l-md rounded-r-none border-r-0 w-8 p-1 pl-2">
        <fa-icon [icon]="faSearch"></fa-icon>
      </div>
      <input (keydown.enter)="loadScholarship()" [(ngModel)]="searchTerm" type="text" class="input-txt  rounded-l-none placeholder:italic rounded-md border-l-0" placeholder="Search scholarship"/>
    </div>

    <div class="w-1/6 flex item-start ">
      <button (click)="loadScholarship()" class="px-3 btn-blue-nr ml-3">
        <fa-icon [icon]="faFilter"></fa-icon>
        <span class="hidden md:inline md:pl-1">Filter</span>
      </button>
    </div>
  </div>

  <div class="flex flex-col">
    <div *ngFor="let item of scholarList; let i = index" class="flex flex-col md:grid md:grid-cols-12 border border-gray-300 shadow rounded-lg h-auto md:h-28 mt-3 w-full">
      <div class="col-span-7 flex flex-col m-3 md:m-6">
        <span class="text-gray-500">Posted on {{ item.date_published }}</span>
        <span class="text-2xl">{{ item.title }}</span>
        @if(item.applicants && item.applicants.length > 0 && item.applicants[0].is_applied === 1) {
          <div class="text-sm w-fit rounded-full italic text-gray-500">
            <fa-icon [icon]="faCheckCircle" class="text-base text-green-500 p-1"></fa-icon>
            Application submitted: {{ item.applicants[0]?.date_applied | date: 'MMM dd, yyyy' }}
          </div>
        }
      </div>

      <div class="flex flex-row md:flex-col h-full ml-3 md:item-center md:mt-8 md:text-sm">
        <span class="font-semibold mr-3">Slots</span>
        <span class="text-gray-500">{{ item.posting_applications_count }}/{{item.slot}}</span>
      </div>

      <div class="col-span-4 flex flex-row text-xs my-5 md:mt-10 justify-center">
        <div>
          <button (click)="toggleModal('view-details', item)" class="btn-blue w-32 mr-3">
            View details
            <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="scholarList.length === 0" class="flex flex-col w-full">
      <div class="flex justify-center">
        <img src="../assets/img/no-recent.png" class="h-18"/>
      </div>
      <div class="flex flex-col justify-center mb-5 w-3/5 mx-auto text-center">
        <span class="font-semibold">No scanned Scholarship Posts</span>
        <div class="mt-3 text-sm">Scanned scholarship posting show up here</div>
        <!-- <button (click)="loadScholarship()" class="text-blue-600 font-semibold mt-3">
          VIEW ALL POSTING
        </button> -->
      </div>
    </div>
  </div>
</div>

<app-apply-now *ngIf="modals['apply-now']"
  (toggleModal)="toggleModal('apply-now')"
></app-apply-now>


<app-post-details *ngIf="modals['view-details']"
  (toggleModal)="toggleModal('view-details')"
  [selected_posting]="selected_posting"
  [isAuthenticated]="isAuthenticated"
></app-post-details>
<!-- <app-view-details *ngIf="modals['view-details']"
  (toggleModal)="toggleModal('view-details')"
></app-view-details> -->
