<div class="w-full flex justify-center min-h-svh">
  <div class="w-5/6">
    <div class="flex justify-between mt-5">
      <div class="text-blue-600 font-semibold text-2xl ">
        Application History
      </div>
      <div class="flex justify-end">
        <select (change)="loadList()" [(ngModel)]="category" class="input-txt w-44">
          <option [ngValue]="null" selected>Show all</option>
          <option *ngFor="let item of categoryList" [value]="item.id"> {{ item.name }} </option>
        </select>
        <!-- <button (click)="" class="text-white bg-blue-600 px-3 py-1 rounded-md ml-2">
          <fa-icon [icon]="faFilter" class="mr-1"></fa-icon>
          Filter
        </button> -->
      </div>
    </div>

    <div class="flex flex-col">
      <div *ngFor="let item of applicationList" class="border border-gray-400 shadow-md rounded-lg w-full flex flex-col md:flex-row p-3 mt-3">
        <div class="md:w-8/12 flex flex-col">
          <span class="text-xl font-semibold">
            <button class="text-sm text-blue-600 px-2 " (click)="toggleModal('post-details', item)">
              <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </button>
            {{item.posting.title}}
          </span>
          <span class="text-gray-400 font-semibold ml-2">
            {{ item.posting.lib_posting_category_id === 1 ? 'Part-time Job' : 'Scholarship' }}
          </span>
          <span class="text-gray-400 ml-2">
            Date Applied: {{ item.date_applied | date: 'MMM dd, yyyy' }}
          </span>
        </div>
        <div class="md:w-2/12 mt-5">
          <span>
            <fa-icon *ngIf="item.is_approved !== null" [icon]="faCircleCheck" [ngClass]="{ 'text-green-500':item.is_approved === 1, 'text-red-500': item.is_approved === 0 }"></fa-icon>
            {{ item.is_approved !== null ? (item.is_approved === 1 ? 'Approved' : 'Denied') : 'Pending' }}
          </span>
        </div>
        <div class="md:w-2/12 mt-5">
          <button *ngIf="item.is_approved === null" class="btn-blue px-5 text-xs" (click)="toggleCancelModal(item.id)">
            Cancel Application
          </button>
        </div>
        <!-- <div class="w-2/12">
          <button *ngIf="!item.is_approved" class="btn-blue bg-red-500 mt-3 text-xs">
            <fa-icon [icon]="faXmark"></fa-icon>
            Cancel Application
          </button>
        </div> -->
      </div>
    </div>
  </div>
</div>

<app-post-details *ngIf="modals['post-details']"
  (toggleModal)="toggleModal('post-details')"
  [selected_posting]="selected_posting"
></app-post-details>

<app-cancel-application *ngIf="modals['cancel-application']"
  (toggleCancelModal)="toggleCancelModal()"
  [selected_application_id]="selected_application_id"
></app-cancel-application>
