<div class="flex flex-col w-full relative h-full select-none" >
  <div class="bg-blue-600 p-3 rounded-xl flex flex-col justify-center w-full">
    <div class="basis-full flex justify-center">
      <img src="../assets/img/resourcehub-logo-inv.png" class="h-10" >
    </div>
    <span class="flex justify-center text-white pb-3">Welcome to the Admin Interface</span>
    <hr class="pb-1" />
  </div>

  <div class="flex flex-col mt-5 mx-5">
    <div *ngFor="let item of menuList" class="py-3 font-semibold hover:cursor-pointer hover:opacity-60" (click)="item.location === '' ? toggleMenu('menuList') : navigateTo(item.location)"
      [ngClass]="{
        'bg-blue-500 px-2 rounded-lg text-white' : current_url === '/admin/'+item.location,
        'text-blue-500' : this.modals['menuList'] && item.location === ''
      }">
      <fa-icon class="pr-2" [icon]="item.icon"></fa-icon>
      {{ item.name }}
    </div>

    <div class="py-3 font-semibold hover:cursor-pointer hover:opacity-60 mt-20 text-center" (click)="signOut()">
      <!-- <fa-icon [icon]="faGear" class="mr-2"></fa-icon> -->
      Sign Out
    </div>
  </div>

  <div class="absolute bottom-10 w-full text-center">
    ResourceHub &#xA9; 2025 <br />
    All rights reserved
  </div>
</div>

@if(modals['menuList']) {
  <div >
    <div class="border-2 border-blue-400 fixed block w-1/4 top-56 rounded-lg left-60  bg-white h-3/5 z-50 overflow-y-auto">
      <div class="flex flex-col mx-3">
        <div class="text-blue-600 text-2xl flex justify-between mt-5 font-semibold">
          <div>Notifications</div>

          <button class="text-left ml-3 hover:opacity-75 text-blue-600 text-base" (click)="toggleMenu('menuList')">
            <fa-icon [icon]="faXmark"></fa-icon>
          </button>
        </div>
        <div class="flex flex-col mt-5">
          <div class="font-semibold">High Priority</div>
          <div *ngFor="let item of notfications" class="border-b border-b-blue-300 pl-3 flex flex-col text-blue-500 mt-3 hover:bg-sky-100 hover:cursor-pointer rounded-md">
            <span class="text-base">
              <span class="font-semibold">{{ item.name }}</span>
              {{ item.message }} {{ item.program }}
            </span>
            <span class="text-gray-500 text-sm">{{ item.type }} </span>
          </div>

          <div class="font-semibold mt-5">Other Nofications</div>
          <div *ngFor="let item of notfications" class="border-b border-b-blue-300 pl-3 flex flex-col text-blue-500 mt-3 hover:bg-sky-100 hover:cursor-pointer rounded-md">
            <span class="text-base">
              <span class="font-semibold">{{ item.name }}</span>
              {{ item.message }} {{ item.program }}
            </span>
            <span class="text-gray-500 text-sm">{{ item.type }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
}
