<div class="h-fit w-full md:h-full justify-center items-center flex flex-col">
  <div class="flex py-3 px-5 w-4/5">
    <div class="flex flex-col md:flex-row md:justify-between w-full">
      <div class="flex">
        <img class="h-11" src="../assets/img/resourcehub-log.png" />

        @if(page !== 4) {
          <span class="text-blue-600 font-normal mt-3 ml-5">
          @switch (page) {
            @case (1) {
              | Personal Information
            }
            @case (2) {
              | Academic Information
            }
            @case (3) {
              | Parent's Information
            }
          }
          </span>
        }
      </div>
      <div *ngIf="page >= 1 && page <= 3" class="text-sm mt-3">
        These information will be used for all of your applications
      </div>
    </div>
  </div>

  <form *ngIf="show_form && !loading_libraries" [formGroup]="signUpForm">
    @if(page === 0) {
      <div class="relative p-4 w-full max-w-xl h-auto">
        <div class="bg-white h-auto p-5 md:p-10 rounded-xl border border-slate-200 shadow-2xl">
          <div class="flex flex-col">
            <div class="flex justify-between text-blue-600 font-semibold">
              <div>
                Sign Up
              </div>
              <a tabindex="0" href="/#">
                x
              </a>
            </div>

            <div class="flex flex-col p-3 md:p-10">
              <div class="mb-5">
                <label id="email" class="text-xs text-gray-400">Email</label>
                <input #emailInput (keypress)="handleKeyPress($event, proceedBtn)" id="email" formControlName="email" type="text" class="input-txt -mb-2" placeholder="Enter your email"/>
                <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'email'"></app-error-label>
              </div>

              <div>
                <label for="password" class="text-xs text-gray-400">Password (6+ Character)</label>
                <div class="flex">
                  <input (keypress)="handleKeyPress($event, proceedBtn)" id="password" formControlName="password" [type]="isInputPass ? 'password' : 'text'" class="input-txt rounded-r-none border-r-0" placeholder="Enter your Password"/>
                  <button (click)="togglePassword()" type="button" class="input-txt w-12 rounded-l-none border-l-0">
                    <fa-icon [icon]="isInputPass ? faEye : faEyeSlash"></fa-icon>
                  </button>
                </div>
                <app-error-label [childForm]="signUpForm" [childFormName]="'password'"></app-error-label>
              </div>

              <div>
                <label for="password_confirmation" class="text-xs text-gray-400">Confirm Password</label>
                <input (keypress)="handleKeyPress($event, proceedBtn)" id="password_confirmation" formControlName="password_confirmation" [type]="isInputPass ? 'password' : 'text'" class="input-txt" placeholder="Confirm your Password"/>
                <span *ngIf="(signUpForm.value.password !== signUpForm.value.password_confirmation)" class="error-label">
                  Password does not match
                </span>

                <span class="text-sm italic text-red-600 pt-2">{{ email_err }}</span>
              </div>

              <div class="flex flex-col md:flex-row  justify-center">
                <div class="flex flex-col w-full md:w-3/5 ">
                  <button #proceedBtn [disabled]="!signUpForm.valid || checking_email  || (signUpForm.value.password !== signUpForm.value.password_confirmation)" (click)="navigatePage(1)" class="btn-blue-nr mt-5 h-14">
                    <fa-icon *ngIf="checking_email" [icon]="faCircleNotch" animation="spin" class="mr-1"></fa-icon>
                    {{ checking_email ? 'Checking Email' : 'Proceed' }} {{ signUpForm.valid }}
                  </button>
                  <span class="text-center text-xs mt-1">
                    By proceeding you agree to
                    <span class="text-sky-400 hover:cursor-pointer" (click)="toggleModal('terms-of-use')">Terms of Use</span>
                    and
                    <span class="text-sky-400 hover:cursor-pointer" (click)="toggleModal('user-agreement')">User Agreement</span>
                  </span>
                </div>

              </div>

              <span class="hover:cursor-pointer ml-3 mt-5 text-xs text-center">
                Already on ResourceHub?
                <a href="#/login" class="text-blue-600 hover:cursor-pointer">Sign In</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    } @else if(page >= 1 && page <= 3) {
      <div class="relative p-4 w-full max-w-5xl">
        <div class="flex flex-col">
          <div class="grid grid-cols-3 font-semibold text-center text-gray-500">
            <button [disabled]="!signUpForm.valid && page < 2" class="border-b-2 hover:cursor-pointer" (click)="navigatePage(1)" [class]="{'border-b-blue-600' : +page === 1}">
              Part 1
            </button>
            <button [disabled]="!signUpForm.valid && page < 3" class="border-b-2 hover:cursor-pointer" (click)="navigatePage(2)" [class]="{'border-b-blue-600' : +page === 2}">
              Part 2
            </button>
            <button [disabled]="!signUpForm.valid && page === 1" class="border-b-2 hover:cursor-pointer" (click)="navigatePage(3)" [class]="{'border-b-blue-600' : +page === 3}">
              Part 3
            </button>
          </div>

          @switch (page) {
            @case (1) {
              <div class="flex flex-col md:grid md:grid-cols-3 md:gap-4 p-3 md:p-10">
                <div>
                  <label for="first_name" class="text-xs text-gray-400">First Name</label>
                  <input id="first_name" formControlName="first_name" type="text" class="input-txt -mb-2" />

                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'first_name'"></app-error-label>
                </div>

                <div>
                  <label for="middle_name" class="text-xs text-gray-400">Middle Name (optional)</label>
                  <input id="middle_name" formControlName="middle_name" type="text" class="input-txt -mb-2" />
                </div>

                <div class="grid grid-cols-6">
                  <div class="col-span-4">
                    <label for="last_name" class="text-xs text-gray-400">Last Name</label>
                    <input id="last_name" formControlName="last_name" type="text" class="input-txt -mb-2" />

                    <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'last_name'"></app-error-label>
                  </div>
                  <div class="col-span-2">
                    <label for="suffix_name" class="text-xs text-gray-400">Suffix</label>
                    <select id="suffix_name" formControlName="suffix_name" class="input-txt -mb-2">
                      <option *ngFor="let item of suffixes" [value]="item.code">{{ item.suffix_desc }}</option>
                    </select>
                  </div>
                </div>

                <div class="grid grid-cols-2">
                  <div>
                    <label for="birthdate" class="text-xs text-gray-400">Date of Birth</label>
                    <input id="birthdate" formControlName="birthdate" type="date" class="input-txt text-sm placeholder:text-gray-400" placeholder="mm/dd/yyyy" />

                    <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'birthdate'"></app-error-label>
                  </div>

                  <div>
                    <label for="gender" class="text-xs text-gray-400">Gender</label>
                    <select id="gender" formControlName="gender" class="input-txt -mb-2">
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                    <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'gender'"></app-error-label>
                  </div>
                </div>

                <div>
                  <label for="contact_number" class="text-xs text-gray-400">Contact Number</label>
                  <input id="contact_number" mask="(9999) 999-9999" [showMaskTyped]="true" formControlName="contact_number" type="text" class="input-txt -mb-2" />
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'contact_number'"></app-error-label>
                </div>

                <div></div>
                <div>
                  <label for="province_code" class="text-xs text-gray-400">Province</label>
                  <select (change)="getDemog('psgc/provinces', signUpForm.value.province_code, 'municipalities')" id="province_code" formControlName="province_code" class="input-txt -mb-2">
                    <option *ngFor="let item of provinces" [value]="item.code">{{ item.name }}</option>
                  </select>
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'province_code'"></app-error-label>
                </div>

                <div [ngClass]="{'invisible' : !signUpForm.value.province_code}">
                  <label for="municipality_code" class="text-xs text-gray-400">Municipality</label>
                  <select (change)="getDemog('psgc/municipalities', signUpForm.value.municipality_code, 'barangays')" id="municipality_code" formControlName="municipality_code" class="input-txt -mb-2">
                    <option *ngFor="let item of municipalities" [value]="item.code">{{ item.name }}</option>
                  </select>
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'municipality_code'"></app-error-label>
                </div>

                <div [ngClass]="{'invisible' : !signUpForm.value.municipality_code}">
                  <label for="barangay_code" class="text-xs text-gray-400">Barangay</label>
                  <select id="barangay_code" formControlName="barangay_code" class="input-txt -mb-2">
                    <option *ngFor="let item of barangays" [value]="item.code"> {{ item.name }}</option>
                  </select>
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'barangay_code'"></app-error-label>
                </div>

                <div class="col-span-2">
                  <label for="address" class="text-xs text-gray-400">Address: lot #, house #, building, etc...</label>
                  <input id="address" formControlName="address" type="text" class="input-txt -mb-2" />
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'address'"></app-error-label>
                </div>

                <div>
                  <label for="place_of_birth" class="text-xs text-gray-400">Place of Birth</label>
                  <input id="place_of_birth" formControlName="place_of_birth" type="text" class="input-txt -mb-2" />
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'place_of_birth'"></app-error-label>
                </div>

                <div class="md:col-span-3 flex justify-end mt-5">
                  <button class="btn-blue" (click)="navigatePage(2)">
                    Next
                  </button>
                </div>
              </div>
            }
            @case (2) {
              <div class="flex flex-col w-full">
                <div>
                  <label for="lib_school_id" class="text-xs text-gray-400">School/ University Enrolled at</label>
                  <select id="lib_school_id" formControlName="lib_school_id" class="input-txt -mb-2">
                    <option *ngFor="let item of schools" [value]="item.id">{{ item.desc }}</option>
                  </select>
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'lib_school_id'"></app-error-label>
                </div>

                <div>
                  <label for="lib_academic_program_id" class="text-xs text-gray-400">Course</label>
                  <select id="lib_academic_program_id" formControlName="lib_academic_program_id" class="input-txt -mb-2">
                    <option *ngFor="let item of courses" [value]="item.id">{{ item.desc }}</option>
                  </select>
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'lib_academic_program_id'"></app-error-label>
                </div>

                <div>
                  <label for="lib_year_level_id" class="text-xs text-gray-400">Year Level</label>
                  <select id="lib_year_level_id" formControlName="lib_year_level_id" class="input-txt -mb-2">
                    <option *ngFor="let item of year_levels" [value]="item.id">{{ item.desc }}</option>
                  </select>
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'lib_year_level_id'"></app-error-label>
                </div>

                <div class="grid grid-col-3 gap-x-4 mt-3">
                  <div>
                    <input id="scholar_flag" formControlName="scholar_flag" type="checkbox" class="rounded-md text-lg mr-1" />
                    <label for="scholar_flag">Are you already a GRANTEE of a scholarship program?</label>
                  </div>

                  <div>
                    <input id="shiftee_flag" formControlName="shiftee_flag" type="checkbox" class="rounded-md text-lg mr-1" />
                    <label for="shiftee_flag">Are you a SHIFTEE</label>
                  </div>

                  <div>
                    <input id="irregular_flag" formControlName="irregular_flag" type="checkbox" class="rounded-md text-lg mr-1" />
                    <label for="irregular_flag">Are you an IRREGULAR student?</label>
                  </div>
                </div>
                <div class="grid grid-cols-2  gap-x-4 mt-3 w-full">
                  <div *ngIf="!student_email">
                    <input  #fileCOR (change)="onFileSelected($event, 'cor_url')" type="file" class="hidden" accept=".pdf,.doc,.docx" />
                    <button (click)="fileCOR.click()" class="btn-blue-nr text-white w-full text-sm mt-2"  [ngClass]="{'bg-gray-300': signUpForm.value.cor_url}">
                      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
                      {{ signUpForm.value.cor_url ? 'Change' : 'Upload' }} COR/SOA/Enrollment Certificate
                    </button>
                  </div>
                  <div class="font-semibold text-sm mt-2">
                    {{ signUpForm.value?.cor_url?.name }}
                  </div>

                  <div>
                    <input #filePhoto (change)="onFileSelected($event, 'photo_url')" type="file" class="hidden" accept=".jpg,.jpeg,.png" />
                    <button (click)="filePhoto.click()" class="btn-blue-nr text-white w-full text-sm mt-2" [ngClass]="{'bg-gray-300': signUpForm.value.photo_url}">
                      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
                      {{ signUpForm.value.photo_url ? 'Change' : 'Upload' }} File 2x2 Picture
                    </button>
                  </div>
                  <div class="font-semibold text-sm mt-2">
                    {{ signUpForm.value?.photo_url?.name }}
                  </div>

                  <div>
                    <input #fileRog (change)="onFileSelected($event, 'grade_url')" type="file" class="hidden" accept=".pdf,.doc,.docx" />
                    <button (click)="fileRog.click()" class="btn-blue-nr text-white w-full text-sm mt-2"  [ngClass]="{'bg-gray-300': signUpForm.value.grade_url}">
                      <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
                      {{ signUpForm.value.grade_url ? 'Change' : 'Upload' }} Report of Grade
                    </button>
                  </div>
                  <div class="font-semibold text-sm mt-2">
                    {{ signUpForm.value?.grade_url?.name }}
                  </div>

                  <span class="italic text-red-500 text-xs">{{ file_err_message }}</span>
                </div>

                <div class="md:col-span-2 flex justify-end mt-5">
                  <button [disabled]="!signUpForm.valid" class="btn-blue" (click)="navigatePage(3)">
                    Next
                  </button>
                </div>
              </div>
            }
            @case (3) {
              <div class="md:grid md:grid-cols-2 md:gap-4">

                <div class="col-span-2 flex justify-center mt-2">
                  <input id="ofw_flag" formControlName="ofw_flag" type="checkbox" class="rounded-md text-lg mr-1" />
                  <label for="ofw_flag">One or both parents is an overseas filipino worker (OFW)</label>
                </div>
                <fieldset class="border border-gray-400">
                  <legend class="ml-3">Father's Information</legend>
                  <div class="flex flex-col m-3 px-1">
                    <div>
                      <label for="fathers_name" class="text-xs">Name of Father</label>
                      <input id="fathers_name" formControlName="fathers_name" type="text" class="input-txt -mb-2" />
                    </div>

                    <div>
                      <label for="fathers_occupation" class="text-xs">Occupation</label>
                      <input id="fathers_occupation" formControlName="fathers_occupation" type="text" class="input-txt -mb-2" />
                    </div>

                    <div>
                      <label for="fathers_company" class="text-xs">Company</label>
                      <input id="fathers_company" formControlName="fathers_company" type="text" class="input-txt -mb-2" />
                    </div>
                  </div>
                </fieldset>

                <fieldset class="border border-gray-400">
                  <legend class="ml-3">Mother's Information</legend>
                  <div class="flex flex-col m-3 px-1">
                    <div>
                      <label for="mothers_name" class="text-xs">Name of Mother</label>
                      <input id="mothers_name" formControlName="mothers_name" type="text" class="input-txt -mb-2" />
                    </div>

                    <div>
                      <label for="mothers_occupation" class="text-xs">Occupation</label>
                      <input id="mothers_occupation" formControlName="mothers_occupation" type="text" class="input-txt -mb-2" />
                    </div>

                    <div>
                      <label for="mothers_company" class="text-xs">Company</label>
                      <input id="mothers_company" formControlName="mothers_company" type="text" class="input-txt -mb-2" />
                    </div>
                  </div>
                </fieldset>

                <div class="md:col-span-2">
                  <label for="average_monthly_income" class="text-xs">Average Monthly Income</label>
                  <select id="average_monthly_income" formControlName="average_monthly_income" type="text" class="input-txt -mb-2">
                    <option *ngFor="let item of incomes" [value]="item.id">{{ item.desc }}</option>
                  </select>
                  <app-error-label *ngIf="formSubmitted" [childForm]="signUpForm" [childFormName]="'average_monthly_income'"></app-error-label>
                </div>

                <div *ngIf="submit_message" class="flex italic text-sm " [ngClass]="{'text-blue-500': sucess_form, 'text-red-600' : !sucess_form}">
                  {{ submit_message }}
                </div>

                <div class="md:col-span-2 flex justify-end mt-5">
                  <a class="btn-blue" *ngIf="signUpForm.disabled" href="/#">Back to landing page</a>
                  <button *ngIf="signUpForm.enabled" [disabled]="is_saving" class="btn-blue" [disabled]="!signUpForm.valid" (click)="onSubmit()">
                    <fa-icon *ngIf="is_saving" [icon]="faCircleNotch" animation="spin" class="mr-1"></fa-icon>
                    Submit
                  </button>
                </div>
              </div>
            }
          }
        </div>
      </div>
    } @else {
      <div class="relative p-4 w-full max-w-xl h-auto">
        <div class="bg-white h-auto p-5 md:p-10 rounded-xl shadow-2xl">
          <div class="flex flex-col">
            <div class="flex flex-col p-3 md:p-10 text-center">
              <div class="text-3xl font-semibold">
                Reviewing your Account
              </div>
              <div class="text-justify mt-5">
                Please wait for 1-2 working days for us to review and activate your account.  Expect a message that will be sent to your device through SMS and Email for updates. Thank you!
              </div>
              <div class="flex flex-col w-full justify-center ">
                <a href="/" class="btn-blue-nr mt-5 h-12">
                  <span class="pt-2">Back to Home</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </form>

  <div class="flex flex-col justify-center h-96" *ngIf="!show_form || loading_libraries">
    <div class="flex justify-center">
      <fa-icon class="text-blue-600" [icon]="faCircleNotch" animation="spin"></fa-icon>
    </div>
    <div class="flex justify-center">
      Loading libraries...
    </div>
  </div>
</div>

@if (modals['terms-of-use']) {
  <app-terms-of-use (toggleModal)="toggleModal('terms-of-use')"></app-terms-of-use>
} @else if (modals['user-agreement']) {
  <app-user-agreement (toggleModal)="toggleModal('user-agreement')"></app-user-agreement>
}
